/* Variables */
:root {
    --basic-black:#000000;
    --basic-black-rgba: rgba(0, 0, 0, 0.3);
    --basic-white:#ffffff;
    --basic-dark:#333333;
    --basic-so-dark:#604E43;
    --basic-extra-dark:#503E33;
    --basic-light:#81B3D2;
    --basic-dark-light:#669EC0;
    --basic-extra-dark-light:#5496BD;
    --basic-extra-blue:#f2f2f2;
    --basic-extra-light:#eeeeee;
    --basic-background-dark:#766357;
    --basic-footer-background:rgba(255, 255, 255, 0.9);
    --basic-rating-color:#666666;
    --basic-light-grey: #e5e5e5;

}

/* Global */

.page-body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Grid */

.page {
    height:100%;
}

/* Main-navigation */

.main-navigation {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;

}

.main-navigation-wrapper {
    width: 1200px;
    justify-content: center;
    margin: 0 40px;
}

.site-navigation {
    list-style: none;
    display: grid;
    grid-template-columns:300px 300px 300px 300px;
    grid-template-rows: 70px;
    margin: 0;
    padding: 0;
}


.site-navigation a {
    text-decoration: none;
    color:var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-light);
}

.site-navigation a:focus {
    color: var(--basic-background-dark);
}

.container {
    width: 1200px;
    margin: 0 40px;
}

/* splash-screen */

.splash-screen {
    display:grid;
    height: 507px;
    width: 1200px;
    background-image: url("../img/background-index.svg"), url("../img/background.jpg");
    background-position: bottom center, center center;
    background-repeat: no-repeat, no-repeat;
}

.splash-screen img {
    margin: auto;
}    

/*features*/

.features {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 216px 256px 330px 256px 256px;
}

.introduction {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;    
    }

.introduction-inscription {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-dark);
    margin:auto;
}

.features-first {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: var(--basic-light);
}

.features-first h3
.features-fifth h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-white);
    text-align: center;
}

.features-first p 
.features-fifth p {
    color: var(--basic-white);
    text-align: center;
}

.features-first-image {
    grid-row: 2 / 3;
    grid-column: 2 / 4;  
}

.features-second {
    grid-row: 3 / 4;
    grid-column: 1 / 2; 
}

.features-third {
    grid-row: 3 / 4;
    grid-column: 2 / 3; 
}

.features-fourth {
    grid-row: 3 / 4;
    grid-column: 3 / 4; 
}

.features-second h3,
.features-third h3,
.features-fourth h3,
.features-sixth h3,
.features-seventh h3,
.features-eighth h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    text-align: center;
}

.features-second p,
.features-third p,
.features-fourth p,
.features-sixth p,
.features-seventh p,
.features-eighth p {
    font-weight: normal;
    color: var(--basic-dark);
    text-align: center;
}

.features-fifth-image {
    grid-row: 4 / 5;
    grid-column: 1 / 3; 
}

.features-fifth {
    grid-row: 4 / 5;
    grid-column: 3 / 4; 
    background-color: var(--basic-light);
}

.features-sixth {
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
    background-color: var(--basic-extra-light);
}

.features-seventh {
    grid-row: 5 / 6;
    grid-column: 2 / 3; 
    background-color: var(--basic-extra-light);   /*не понимаю, почему он не идет рядом с предыдущим, а идет вниз*/
}

.features-eighth {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    background-color: var(--basic-extra-light);
    
}

/* Appointment*/

.appointment {
    display:grid;
    grid-template-columns: 1200px;
    grid-template-rows: 291px; /*сделал грид, но он перекинулся наверх, почему-то. понятия не имею почему.*/
    
}

.appointment-info {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;

}

.appointment-info-secondary {
    line-height: 24px;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

/* footer*/

.main-footer {
    background-color: var(--basic-footer-background);
    display: grid;
    grid-template-columns:73px 127px 200px 400px 200px 127px 73px;
    height: 120px;
}

.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px; 
    grid-column: 2 / 4; 
    justify-self: center;
}

.footer-phone {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color:inherit;
}

.footer-social {
    grid-column: 4 / 6; 
    justify-self: center;
}
.social-button {
    color: var(--basic-white);
    background-color: var(--basic-light);
}

.footer-social li{
    list-style: none;
}
  
.social-button:hover{
    background-color: var(--basic-dark-light);
}

.social-button:focus {
    background-color: var(--basic-extra-dark-light);
}

.footer-HTML {
    grid-column: 6 / 8; 
    justify-self: center;
}







/* СATALOG */

/* Search */

.page-catalog {
    display: grid;
    align-content: start;
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;}

.search {
    background-image: url("../img/background-catalog.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.search-form{
    display: grid;
    grid-template-columns: 300px 300px 1fr;

}

.search-infrastructure-list,
.search-type-list {
    list-style: none;
    padding-left:73px;
    /*color: var(--basic-white);*/
}

.search-form legend {
    font-weight: bold;
    font-size: 16px;
    padding-left:73px;
    /*color: var(--basic-white);*/
}

.catalog-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.search-sorting {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.search-sorting-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-sorting-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*не слишком хитро я сделал? в три грида запихнул всю эту строку?*/
}

.search-sorting-form legend {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.search-sorting-item input[type=radio] + label {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black-rgba);
    border-bottom:1px dashed var(--basic-light);
}

.search-sorting-item input[type=radio] {
	display: none;
}

.search-sorting-item input[type=radio]:checked + label {
    color: var(--basic-light);
    border-bottom:none;
    opacity:1;
}

.search-sorting-item input[type=radio]:hover + label {
    color: var(--basic-light);
    opacity:1;
}

.search-sorting-item input[type=radio]:active + label {
    color: var(--basic-black);
    opacity:1;
    border-bottom:none;
}

.search-sorting-list {
    list-style: none;
}

.search-result-item {
    padding-left:73px;
    outline: 1px solid var(--basic-light-grey);
    display:grid;
    grid-template-columns: 208px 237px 400px 355px;
    grid-template-rows: 50px 50px 50px;
}

.search-result-item h3 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.search-sorting-item .photo-housing {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.search-sorting-item .star {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.search-sorting-item .type{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.search-sorting-item .price{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.search-sorting-item .rating{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.search-sorting-item .button-info{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.search-sorting-item .button-order{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
} /*что-то не то делаю. не раскидывается по красоте на грид, но не понимаю, почему. */

.button-search {
    width: 137px;
    height: 36px;
    border: 2px solid var(--basic-white);
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    background: transparent;
    /*color: var(--basic-white);*/
}

.button-search:hover {
    color: var(--basic-black);
    background: var(--basic-white);
}

.button-info {
    width: 110px;
    height: 27px;
    font-weight: bold;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    background: var(--basic-light);
    color: var(--basic-white);
    border:none;
}

.button-info:hover {
    background: var(--basic-dark-light);
}

.button-info:active {
    background: var(--basic-extra-dark-light);
}

.button-info:active span{
    opacity: 0.3;

}

.button-order {
    width: 142px;
    height: 27px;
    font-weight: bold;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    background: var(--basic-background-dark);
    color: var(--basic-white);
    border:none;
}

.button-order:hover {
    background: var(--basic-so-dark);
}

.button-order:active {
    background: var(--basic-extra-dark);
}

.button-order:active span{
    opacity: 0.3;
}

.rating {
    width: 110px;
    height: 27px;
    background: var(--basic-extra-blue);
    color: var(--basic-rating-color);
    
}

.name-link {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-decoration: none;
    color: var(--basic-black);
}

.name-link:hover {
    color: var(--basic-light);
}

.name-link:active {
    opacity:0.3;
}